{{ template "top" .}}

<div
    id="widget-container"
    class="flex flex-col gap-5 w-full items-center m-auto"
>
    <div class="flex justify-center gap-4 text-4xl font-extrabold">
        <span>[*</span>
        <p>{{ .title }}</p>
        <span>*]</span>
    </div>
    <p>The private space to share files</p>
    <div class="action-selector">
        <button onclick="window.location = '/session/start'">
            Start Session
        </button>
        <span></span>
        <button onclick="window.location = '/session/join'">
            Join Session
        </button>
    </div>
</div>

{{ template "bottom" . }}
