{{ template "top" .}}

<div
    id="widget-container"
    class="flex flex-col gap-5 w-full items-center m-auto"
>
    <div class="flex justify-center gap-4 text-3xl font-bold">
        <span>[*</span>
        <p>HyperSpace</p>
        <span>*]</span>
    </div>
    <div class="action-selector">
        <button onclick="window.location = '/session/start'">
            Start Session
        </button>
        <span></span>
        <button onclick="window.location = '/session/join'">
            Join Session
        </button>
    </div>
    <div id="file-container" class="file-container">
        <div class="transfer-file" id="random-id">
            <div class="metadata">
                <p>Test_FILE_NAME.docs</p>
                <div class="progress-top">
                    <div class="progress" style="width: 45%">45%</div>
                </div>
            </div>
        </div>
    </div>
</div>

{{ template "bottom" . }}
