{{ template "top" .}}
<input
    id="peer-type"
    type="text"
    disabled="true"
    value="answer"
    hidden="true"
/>
<div class="flex flex-col gap-5 w-full items-center m-auto">
    <div class="flex justify-center gap-4 text-3xl font-bold">
        <span>[*</span>
        <div id="status">Idle</div>
        <span>*]</span>
    </div>
    <p>Paste the session id you want to join.</p>
    <div class="w-full app-input-container">
        <label for="sessionId"> Session Id </label>
        <input
            type="text"
            id="sessionId"
            name="sessionId"
            autocomplete="off"
            value=""
        />
    </div>
    <button class="app-button" id="session-start-btn">Join Session</button>
</div>

<script src="/static/js/session.js" type="module"></script>

{{ template "bottom" .}}
