@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: Inter, sans-serif;
    font-display: swap;
    font-feature-settings:
        "liga" 1,
        "calt" 1;
}

@supports (font-variation-settings: normal) {
    :root {
        font-family: InterVariable, sans-serif;
    }
}

html,
body {
    @apply bg-black text-neutral-100;
    font-family: inherit;
}

/* Layout */

.main-container {
    @apply max-w-[40rem] m-auto h-screen flex items-center px-6;
}

/* Action Selector */

.action-selector {
    @apply flex justify-between bg-neutral-800 rounded-3xl p-2 gap-2 w-full;
}

.action-selector > button {
    @apply text-center w-full text-violet-400 font-bold rounded-2xl p-2;
}

.action-selector > button:hover {
    @apply bg-neutral-700 cursor-pointer trans text-violet-400;
}

.action-selector > span {
    @apply border-l-2 border-neutral-700;
}

/* END */

/* Delimiter */

.delimiter {
    @apply w-full border-b border-neutral-700;
}

/* END */

/* Drag & Drop container */

.drag-drop-container {
    @apply h-44 w-full border-2 border-dashed border-neutral-700 rounded-2xl bg-neutral-950 flex items-center justify-center;
    @apply text-neutral-700 trans flex-col gap-2;
}

.drag-drop-container:hover,
.drag-drop-container.drag-over {
    @apply border-violet-600 text-violet-600;
}

/* END */

/* Transfer File */

.transfer-file {
    @apply w-full flex gap-2 p-4 rounded-xl bg-neutral-800 justify-between;
}

.transfer-file > .check {
    @apply p-1 border rounded-full text-green-500 border-green-500;
}
.transfer-file > .uploading {
    @apply text-yellow-500;
}

/* END */

.app-input-container {
    @apply border-2 border-neutral-600 rounded-2xl py-3 px-5 text-neutral-100 place-items-center flex;
}

.app-input-container > input {
    @apply bg-transparent text-neutral-100 ring-0 outline-0 w-full z-20;
}

.app-input-container > label {
    @apply absolute text-neutral-100 trans;
}

.app-input-container > label.activated {
    @apply text-xs -translate-y-7 bg-black p-2;
}

.app-input-container > div.ico {
    @apply hover:bg-neutral-700 rounded-lg trans p-1;
}

.app-button {
    @apply bg-violet-600 text-white p-2 rounded-xl trans w-full;
}

.app-button:hover {
    @apply bg-gradient-to-r from-violet-600 to-fuchsia-600 -translate-y-1 shadow-lg shadow-black;
}

.trans {
    @apply transition-all duration-300 ease-in-out;
}

.error-text {
    @apply p-2 w-full font-bold text-red-400 text-center rounded-2xl;
}
