<div class="h-screen overflow-hidden py-6 md:py-10">
    <div
        class="max-w-[40rem] m-auto h-full overflow-hidden flex flex-col items-center px-6 gap-4"
    >
        <div
            class="flex justify-center gap-4 text-2xl md:text-4xl font-extrabold"
        >
            <div class="size-10 md:size-12">
                <img src="/public/logo.png" alt="SF" />
            </div>
            <div class="flex items-center">
                <p>SafeFiles</p>
            </div>
        </div>
        <div class="error-text" id="error-box" hidden="true"></div>
        <div class="delimiter"></div>
        <div class="w-full gap-2 flex flex-col">
            <div class="flex gap-4">
                <div class="text-neutral-500">Session ID:</div>
                <div>{{ .sessionId }}</div>
            </div>
            <div class="flex gap-4">
                <div class="text-neutral-500">Status:</div>
                <div id="status">Connected</div>
            </div>
            <button
                id="exit-session"
                type="button"
                class="exit-button"
                onclick="window.location = '/'"
            >
                Exit Session
            </button>
        </div>
        <div
            class="hidden md:flex md:flex-col drag-drop-container"
            id="drag-drop-zone"
        >
            <div>
                Drop or
                <label
                    for="select-file-input"
                    class="text-emerald-500 underline cursor-pointer"
                >
                    select file
                </label>
                <input
                    type="file"
                    id="select-file-input"
                    style="display: none"
                />
                to transfer
            </div>
            <div>
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="lucide lucide-package-icon lucide-package"
                >
                    <path
                        d="M11 21.73a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73z"
                    />
                    <path d="M12 22V12" />
                    <polyline points="3.29 7 12 12 20.71 7" />
                    <path d="m7.5 4.27 9 5.15" />
                </svg>
            </div>
        </div>
        <div class="md:hidden">
            <div>
                Drop or
                <label
                    for="select-file-input"
                    class="text-emerald-500 underline cursor-pointer"
                >
                    select file
                </label>
                <input
                    type="file"
                    id="select-file-input"
                    style="display: none"
                />
                to transfer
            </div>
        </div>

        <div class="delimiter"></div>
        <div id="file-container" class="file-container"></div>
    </div>
</div>

<script src="/static/js/sessionModule.js" type="module"></script>
